* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 20px 60px;
  box-shadow: 0px 12px 32px rgba(138, 126, 186, 0.24);
}
.logo {
  font-size: 1.3em;
}
nav a {
  text-decoration: none;
  color: #252525;
  margin-left: 50px;
}
#sign-up {
  background-color: #5c37ee;
  color: #fff;
  border: none;
  padding: 10px 24px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.16);
  width: 90px;
  height: 28px;
  border-radius: 8px;
  margin: 5px;
}
#log-in {
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.16);
  padding: 10px 24px;
  background-color: #fff;
  color: #3ebb3e;
  border: 1.5px solid #3ebb3e;
  width: 90px;
  height: 28px;
  border-radius: 8px;
  margin: 5px;
}
.green-text {
  color: #3ebb3e;
}
.top-tittle {
  display: flex;
  justify-content: space-between;
  margin: 40px 65px;
}
.topleft-tittle {
  width: 50%;
}

.top-tittle h2 {
  font-size: 3.5rem;
}
.top-tittle p {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.tittle-img {
  height: 570px;
  width: 490px;
}
#tittle-button1 {
  width: 260px;
  height: 40px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #5c37ee;
  color: #fff;
  border: none;
}
#tittle-button2 {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  color: #3ebb3e;
  border: 1.5px solid #3ebb3e;
}
.bottom-tittle {
  display: flex;
  justify-content: space-between;
  margin: 50px 65px;
}
.bottom-tittle-boxes img {
  height: 22px;
  width: 22px;
  margin-bottom: -5px;
}
.bottom-tittle-boxes {
  border: 20px solid #fff;
  box-shadow: 0px 12px 32px rgba(138, 126, 186, 0.24);
  text-align: center;
}
#classification {
  margin: 110px 65px;
  background-color: #cec3c7;
  text-align: center;
  padding: 23px;
}
.subclasses {
  background-color: #fff;
  margin: 30px 40px;
  padding: 25px;
  display: flex;
  border-radius: 5px;
  text-align: left;
}
.subclasses h4 {
  margin-bottom: 10px;
}
.subclasses img {
  height: 80px;
  width: 80px;
  margin-right: 15px;
}
.steps {
  background-color: #f2fdf4;
  margin: 40px 0;
  padding: 50px;
  text-align: center;
  min-height: 500px;
}
.steps h3 {
  margin-bottom: 15px;
  font-size: 1.4em;
}

.bottom-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: left;
}
#rectangle {
  height: 220px;
  width: 300px;
}
#play-logo {
  position: relative;
  right: 170px;
  width: 60px;
}
.bottom-steps ol {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}
.bottom-steps ol li {
  counter-increment: step-counter;
  margin: 40px 0;
  font-size: 1.2em;
}
.bottom-steps ol li::before {
  content: counter(step-counter);
  margin-right: 2px;
  font-size: 80%;
  background-color: #06ac34;
  color: #fff;
  padding: 3px 8px;
  border-radius: 90px;
}
.choose {
  margin: 90px 85px;
}
.choose h3 {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 40px;
}
.choose-bottom {
  display: flex;
  justify-content: space-between;
}
#choose-image {
  width: 420px;
  height: 685px;
}
.choose-lists {
  display: flex;
  margin: 30px;
  font-size: 1.2em;
}
.choose-bottom-left{
  width: 50%;
}
.choose-lists img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.review {
  color: #fff;
  margin: 50px 0;
  height: 558px;
  background-image: url(../img/Reviews\ Section.png);
  padding: 20px;
}
.carousel-tittle {
  text-align: center;
}
.carousel-tittle h3 {
  margin: 15px 10px;
  font-size: 1.3em;
}
.prev {
  cursor: pointer;
  position: absolute;
  left: 85%;
  margin-top: 52px;
  padding: 3px;
  color: white;
  background-color: #5c37ee;
  font-size: 18px;
  height: 30px;
  width: 50px;
}
.next {
  cursor: pointer;
  position: absolute;
  left: 87%;
  margin-top: 52px;
  padding: 3px;
  padding-left: 32px;
  color: white;
  background-color: #5c37ee;
  font-size: 18px;
  height: 30px;
  width: 50px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 50px 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.slideshow-container {
  display: flex;
  align-items: center;
  width: 55%;
  margin: 50px 350px;
}
#carousel-text {
  margin-left: 25px;
}
.coloured-text {
  color: #d8cffb;
}
#carousel-text h3 {
  margin-top: 40px;
}
.FAQ-section {
  margin: 55px 45px;
}
.FAQ-section h3 {
  margin-bottom: 30px;
  font-size: 1.3em;
  text-align: center;
}
.FAQs {
  border: 2px solid #e8e8e8;
  margin-bottom: 9px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
}
.faq-bt {
  position: absolute;
  right: 80px;
  font-size: 1.3em;
  font-weight: bold;
}
.faq-bt:hover {
  cursor: pointer;
}
/* footer */
footer {
  background-color: #010101;
  color: #fff;
  height: 780px;
  padding: 20px;
}
.top-footer {
  display: flex;
  flex-direction: column;
  background-color: #343734;
  width: 620px;
  height: 215px;
  margin: auto;
  margin-top: 50px;
  padding: 25px 90px;
  text-align: center;
  font-size: 1.1em;
}
.top-footer input {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  margin: 10px 40px;
  text-indent: 10px;
}
.top-footer button {
  width: 100px;
  height: 45px;
  margin: auto;
  background-color: #5c37ee;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: lighter;
}
.bottom-footer h3 {
  margin-bottom: 10px;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
  gap: 30px;
  line-height: 2;
}
#Copyright {
  background-color: #3a3a3a;
  position: relative;
  top: 80px;
  margin: 0 -19px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-tittle {
  margin: auto;
  margin-top: 20px;
  /* width: 750px; */
  width: 500px;
  text-align: center;
}
.teams {
  height: 436px;
  width: 390px;
  margin-bottom: 20px;
}
.small-box {
  position: relative;
  top: 200px;
  left: 40px;
  color: #fff;
  width: 300px;
  height: 200px;
  background: linear-gradient(
    116.26deg,
    rgba(96, 96, 96, 0.5) 0%,
    rgba(96, 96, 96, 0.25) 101.96%
  );
  backdrop-filter: blur(5px);
  border-radius: 3px;
  padding: 25px 20px;
  line-height: 30px;
}
.small-box h3 {
  margin-bottom: 10px;
}
.name-line {
  display: flex;
  justify-content: space-between;
}
.name-line img {
  height: 17px;
  width: 17px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 820px;
  margin: auto;
  margin-bottom: 100px;
}

/* contact us*/

.contact-us {
  text-align: center;
  margin: 50px auto;
  width: 600px;
}
.contact-us p,
h1 {
  margin: 20px 0;
}
#contact-us-h3 {
  margin: 40px 0 15px;
}
.contact-input-container {
  display: grid;
  grid-template-columns: auto auto;
  /* width: ; */
}
.contact-input {
  margin: 0 15px 10px 0;
  background-color: #3a3a3a;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  text-indent: 10px;
  color: #fff;
  border: none;
}
#message-input {
  width: 615px;
  height: 150px;
}
#contact-send {
  background-color: #5c37ee;
  width: 100px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 30px 0;
}

/* Login page */

.Login-main {
  /* width: 1440px; */
  /* height: 1024px; */
  background-color: #ffffff;
}

.Login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 30px;
  width: 778px;
  height: 687px;
  background-color: #ffffff;
  border: 3px solid rgba(217, 217, 217, 0.75);
  border-radius: 8px;
  margin: 102px 331px 105px 331px;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 550px;
  height: 214px;
}

.hello > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 550px;
  height: 152px;
}

.hello > article > h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 550px;
  height: 52px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 52px;
  color: #252525;
}

.hello > article > p {
  width: 91px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: rgba(37, 37, 37, 0.7);
}

.hello > article > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 200px;
  height: 40px;
}

.hello > p {
  width: 29px;
  height: 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: rgba(37, 37, 37, 0.7);
}

.fill-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 730px;
  height: 403px;
}

.fill-form > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 730px;
  height: 369px;
}

.fill-form > article > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 730px;
  height: 275px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 730px;
  height: 93px;
}

.form-group > label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #252525;
}

.form-groups input[type='password'],
.form-groups input[type='text'] {
  width: 100%;
  height: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-group > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;
  width: 730px;
  height: 50px;
  background-color: #f9f9f9;
  border: 2px solid #252525;
  border-radius: 8px;
}

.password-container {
  width: 730px;
  position: relative;
  height: 50px;
  background-color: #f9f9f9;
  border: 2px solid #252525;
  border-radius: 8px;
}

.fa-eye {
  position: absolute;
  top: 28%;
  right: 4%;
  color: rgba(37, 37, 37, 0.7);
  cursor: pointer;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 373px;
  width: 730px;
  height: 49px;
}

.checkbox-div > p {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 187px;
  height: 49px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #252525;
}

.checkbox-div > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 170px;
  height: 49px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  color: #374afc;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 10px;
  width: 730px;
  height: 64px;
  background-color: #5c37ee;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #f9f9f9;
  border: none;
}

.fill-form > p {
  width: 286px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #252525;
  line-height: 24px;
  white-space: nowrap;
}

/* Signup page */

.thesignup {
  width: 856px;
  height: 728px;
  margin: 152px 292px 144px 292px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 30px;
  background-color: #ffffff;
  border: 3px solid rgba(217, 217, 217, 0.75);
  border-radius: 8px;
}

.create-acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 808px;
  height: 260px;
}

.create-acc > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 808px;
}

.thecreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 808px;
  height: 98px;
}

.thecreate > h2 {
  width: 808px;
  height: 52px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  color: #252525;
  line-height: 52px;
}

.thecreate > p {
  width: 759px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: rgba(37, 37, 37, 0.75);
  line-height: 36px;
  text-align: center;
}

.create-acc > p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 20px;
}

.checkbox-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 648px;
  height: 44px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #252525;
  line-height: 24px;
}

.checkbox-line > p {
  gap: 60px;
  padding: 10px 0px;
}

/* signup */

.register-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
